body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
}
/* main styles */

.supermain_box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}

.user_box {
  background-color: rgb(239, 232, 236);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px;
}

.about {
  margin-bottom: 40px;
}

.about-position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}

.about-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.about-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}

.projects {
  margin-bottom: 50px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.project_biglist {
  padding: 0;
  margin-left: 15px;
}

.project-list {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project,
.project-link {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  overflow: hidden;
}

.project-link {
  margin-left: 10px;
}

.dotted_bottom {
  flex: 1 0;
  border-bottom: 1px dotted #000;
  height: 1em;
  margin: 2px .1em;
}

.project-bracket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}


.position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.organisation,
.university {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #bf1a8a;
}
.time {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.work_description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding: 0;
  margin-left: 15px;
}

.university {
  margin-bottom: 11px;
}

.faculty {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 12px;
  padding: 0;
}

.study_time {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.side_box {
  background-color: #5e3f5d;
  padding-top: 40px;
  width: 370px;
}

.photo {
  width: 370px;
  margin-bottom: 30px;
}

.contacts,
.tech_skills,
.soft_skills {
  margin-left: 40px;
}

.contacts {
  margin-bottom: 47px;
}

.tech_skills {
  margin-bottom: 44px;
}

.sidebar-title {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.contacts-boxes__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts__box {
  margin: 1px 0;
}
.contact-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: white;
  margin-right: 10px;
  width: 30px;
  display: inline-block;
}

.contact_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #c4c7cb;
}

.tech_list,
.soft_list {
  padding-left: 17px;
  margin-top: 0px;
}

.tech-skills-list,
.soft-skills-list {
  color: white;
}

.list-point {
  color: #bf1a8a;
}

.tech-skills-list,
.soft-skills-list,
.list-point {
  padding-bottom: 7px;
}
